{% extends "template.html" %}

{% block Link %}
<link rel="stylesheet" href="../static/css/store.css">
{% endblock Link %}

{% block content %}
<!-- <div class="content"> -->
    <div class="products-array">
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="../static/imgs/tomato.png" alt="product tomato">
                <div class="add-to-cart">
                    <p>ADD TO CART</p>
                </div>
            </div>
            <div class="product-details">
                <h4>Tomato from Voi</h4>
                <h3>30/= per KG</h3>
            </div>
        </div>
    </div>

    </div>
    
    
<!-- </div> -->
{% endblock content %}